{% extends "layout.twig" %}

{% block title 'Често поставувани прашања' %}
{% block description 'Често поставувани прашања за Ониво' %}

{% block content %}
    <div class="container" id="faq">
        <section>
            <div class="row">
                <div class="col-md-10">
                    <h1>Често поставувани прашања</h1>
                    <p>
                        <small>Последен пат ажурирано на 09 Јуни 2015</small>
                    </p>
                    <hr>
                    <h3>Дали Onivo е навистина засекогаш бесплатно?</h3>
                    <p>
                        Да. Onivo е <b>бесплатен</b> сега и <b>засекогаш ќе биде</b>. Надградба на некој од <a href="http://onivo.mk/#pricing">платените пакети</a> избирате само по своја желба и доколку Ви се потребни функционалностите понудени во истиот.
                    </p>

                    <h3>Што е потребно за да станам корисник на Onivo</h3>
                    <p>
                        Само со email адреса и интернет конекција можете бесплатно да се регистрирате и да станете корисник на Onivo. Onivo е наменет за сите правни лица - бизниси и физички лица - фриленсери кои имаат потреба од помош при креирање на фактури со професионален изглед.
                    </p>

                    <h3>Дали моите податоци се сигурни?</h3>
                    <p>
                        Да, Вашите податоци се сигурни и безбедни затоа што се чуваат на сервери коишто и светски познати банкарски институции ги користат за чување на своите бази на податоци, како и целосната енкрипција (шифрирање) на комуникацијата помеѓу Вас и серверот на Onivo со користење на SSL сертификат.
                    </p>

                    <h3>Дали може мануелно да поставам број на фактура?</h3>
                    <p>
                        Во подесувањата на Вашиот профил се избира еден од понудените начини на нумерирање на документите. Ова значи дека мануелно неможете да поставите нумерички број на фактура. Но, можете пред нумеричкиот број на фактурата да поставите префикс за дополнително персонализирање на начинот на нумерирање на Вашите документи.
                    </p>

                    <h3>Зошто неможам да снимам артикл со децимала во цена или количина (грешка: „Полето мора да биде број.“) ?</h3>
                    <p>
                        Најверојатно се обидувате да внесете запирка (,) како децимална ознака, но Ониво очекува да добие точка (.). При користење на децимала во цена или количина, наместо запирка користете точка (пример: 10.5) за да го означите децималното место.
                    </p>

                    <h3>Зошто неможам да избришам фактура?</h3>
                    <p>
                        Поради неколку различни законски одредби, издадените фактури не смеат да се бришат (мораат да бидат во непрекината серија).Ние во Onivo го имаме имплементирано ова и го присилуваме поради Ваша заштита. Но, тоа незначи дека неможете да ја „реискористите“ фактурата.
                    </p>

                    <h3>Како да ја испечатам креираната фактура?</h3>
                    <p>
                        Креираната фактура може да се испечати со тоа што по преземањето на PDF форма од документот, во долниот десен агол на екранот се клика на копчето принтер или истата функција принтање се повикува со истовремено притискање на копчињата Ctrl + P.
                    </p>

                    <h3>Kако да ги избришам пробните документи што ги креирав додека ја тестирав апликацијата?</h3>
                    <p>
                        Креираните документи неможат да се избришат, но можат да се реискористат. Пример, доколку имате документ кој е во подготовка, откако ќе го отворите документот од левата страна кликате на копчето “Измени”, ја прифаќате акцијата со кликање на копчето “Продолжи”, по што вршите измена на податоците за клиент, а потоа во следниот чекор ги менувате артиклите. Или, доколку имате документ кој е означен како испратен, откако ќе го отворите документот од левата страна кликате на копчето “врати во Подготовка”, ја прифаќате акцијата со кликање на копчето “Продолжи”, a потоа кликате на копчето “Измени” по што вршите измена на податоците за клиент и во следниот чекор ги менувате артиклите.
                    </p>

                    <h3>Како да почнам да го користам магацинот во Onivo?</h3>
                    <p>
                        Најпрвин треба да направите попис на Вашиот „физички“ магацин за да добиете точна количина на артикли на залиха. Потоа, преку порамнување (тип на документ), ќе ги внесете количините на залиха кои реално ги имате. Последниот чекор е да го „Затворите“ порамнувањето при што артиклите ќе бидат „складирани“ во Вашиот нов Onivo дигитален магацин.
                    </p>

                    <h3>Дали магацинот е бесплатна фунционалност?</h3>
                    <p>
                        <b>Да!</b> Оваа функционалност е комплетно бесплатна за сите <a href="http://onivo.mk/#pricing">пакети на претплата</a> во Onivo.
                    </p>

                    <h3>Кои типови на документи се поддржани од магацинот?</h3>
                    <p>
                        Onivo магацинот нуди <b>три</b> типови на документи: приемница, испратница и порамнување. <b>Приемница</b> претставува влезен документ со кој внесувате количина на артикли на залиха во магацинот откако претходно ги имате набавено од Вашите добавувачи. <b>Испратница</b> претставуав излезен документ со кој изнесувате количина на артикли од магацинот како би ги продале на Вашите купувачи. <b>Порамнување</b> претставува повеќе-наменски документ со кој правите порамнување на количините поради магацинско несложување или едноставно редовен попис.
                    </p>

                    <h3>Немам потреба од магацин, како можам да го исклучам?</h3>
                    <p>
                        Откако ќе се најавите на Вашиот профил, се кликнува на копчето <b>≡</b> од главната навигација а потоа се избира „Подесувања“. Подолу на страната во делот „Подесувања на магацин“ исклучете ја опцијата „Користење на магацин“.
                    </p>

                    <h3>Како да ги изменам податоците за мојата компанија?</h3>
                    <p>
                        Откако ќе се најавите на Вашиот профил, се кликнува на копчето <b>≡</b> од главната навигација а потоа се избира „Компанија“. Во овој дел можете да ги измените или дополните внесените податоци за Вашата компанија, како што се името на компанијата, ЕДБ, матичниот број, адресата, градот, телефонот, email адресата итн. На крај се клика на копчето Сними за да сите промени бидат сочувани.
                    </p>
                    <p>
                        Погледнете го следново видео упатство за „Пополнување детали за компанија“ на нашиот <a href="https://www.youtube.com/user/onivomk">YouTube канал</a>.
                    </p>
                    <iframe width="560" height="315" src="//www.youtube.com/embed/5ZpiIGooURM" frameborder="0" allowfullscreen></iframe>

                    <h3>Дали еден профил може да биде користен од повеќе лица односно различни email адреси?</h3>
                    <p>
                        Еден кориснички профил може да биде користен односно управуван од страна на еден или повеќе корисници со различни email адреси. Оваа функционалност е достапна во <a href="http://onivo.mk/#pricing">платените пакети</a>.
                    </p>

                    {# <h3>Како да го прикачам логото на мојата компанија?</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque exercitationem eligendi deleniti blanditiis iste recusandae quam voluptas tempore non excepturi, fugiat, pariatur quibusdam omnis. Laudantium asperiores quae quas ad illum.
                    </p> #}

                    <h3>Како да го отстранам логото на Onivo од подножјето на фактура?</h3>
                    <p>
                        Логото на Onivo, односно Onivo брендирањето на подножјето од Вашите документи може да биде отстрането со надградба на <a href="http://onivo.mk/#pricing">Класик или Премиум пакет</a>.
                    </p>

                    <h3>Како да извршам надградба на некој од платените пакети?</h3>
                    <p>
                        Onivo е <strong>засекогаш бесплатен</strong>. Плаќање се врши само за класик и премиум пакет врз основа на добиената про-фактура за однапред избраниот период.
                        Откако ќе се најавите на Вашиот профил, се кликнува на копчето <b>≡</b> од главната навигација а потоа се избира „Претплата“. Со клик на копчето „Надгради“ на саканиот платен пакет и потоа избор на временски период на претплатата се креира профактура за Вас по чие плаќање следи активација на пакетот.
                    </p>

                    {# <h3>На кој начин се врши плаќање на месечната претплата?</h3>
                    <p>

                    </p> #}

                    <h3>Дали сум обврзан со договор?</h3>
                    <p>
                        <strong>Никако!</strong> Можете во секој момент да ја откажете или промените Вашата претплата, без дополнителни трошоци.
                    </p>

                    <h3>Што доколку сум незадоволен?</h3>
                    <p>
                        Ако од било која причина сте незадоволни од Onivo, средствата ќе Ви бидат вратени. <strong>Вашето задоволство ни е најважно.</strong>
                    </p>

                    <hr>
                    <p>
                        Доколку имате прашање на кое одговор не го најдовте погоре, слободно контактирајте н&egrave;:
                    </p>
                    {% include '_partials/address.twig' %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}