{% extends "layout.twig" %}

{% block title 'Често поставувани прашања' %}
{% block description 'Често поставувани прашања за Ониво' %}

{% block content %}
    <div class="container" id="faq">
        <section>
            <div class="row">
                <div class="col-md-10">
                    <h1>Често поставувани прашања</h1>
                    {# <p>ВНИМАТЕЛНО ПРОЧИТАЈТЕ ГИ СИТЕ УСЛОВИ ЗА КОРИСТЕЊЕ.</p>
                    <p>
                        <small>Последен пат ажурирано на 15 Октомври 2014</small>
                    </p> #}
                    <hr>
                    <h3>Дали Onivo е навистина засекогаш бесплатно?</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque exercitationem eligendi deleniti blanditiis iste recusandae quam voluptas tempore non excepturi, fugiat, pariatur quibusdam omnis. Laudantium asperiores quae quas ad illum.
                    </p>
                    <h3>Зошто неможам да избришам фактура?</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque exercitationem eligendi deleniti blanditiis iste recusandae quam voluptas tempore non excepturi, fugiat, pariatur quibusdam omnis. Laudantium asperiores quae quas ad illum.
                    </p>
                    <h3>Како да го прикачам логото на мојата компанија?</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque exercitationem eligendi deleniti blanditiis iste recusandae quam voluptas tempore non excepturi, fugiat, pariatur quibusdam omnis. Laudantium asperiores quae quas ad illum.
                    </p>
                    <h3>На кој начин се врши плаќање на месечната претплата?</h3>
                    <p>
                        Onivo е <strong>засекогаш бесплатен</strong>. Плаќање се врши само за класик и премиум пакет врз основа на добиената про-фактура за однапред избраниот период.
                    </p>
                    <h3>Дали сум обврзан со договор?</h3>
                    <p>
                        <strong>Никако!</strong> Можете во секој момент да ја откажете или промените Вашата претплата, без дополнителни трошоци.
                    </p>
                    <h3>Што доколку сум незадоволен?</h3>
                    <p>
                        Ако од било која причина сте незадоволни од Onivo, средствата ќе Ви бидат вратени. <strong>Вашето задоволство ни е најважно.</strong>
                    </p>
                    <hr>
                    <p>
                        Доколку имате прашање на кое одговор не го најдовте погоре, слободно контактирајте н&egrave;:
                    </p>
                    {% include '_partials/address.twig' %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}