{% extends "layout.html.twig" %}

{% block content %}
    <section id="landing">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>Everything you need to run your business.</h1>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur fugit dolor velit amet repellat dolorem.
                    </p>
                    <a href="http://test-onivo.eu1.frbit.net/register?lang=mk" class="btn btn-primary btn-lg">
                        Register for Free! <i class="fa fa-angle-right fa-fw"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="container" id="features">
        <section>
            <h1 class="text-center">Impress your clients with professional invoices.</h1>
            <div class="row">
                <div class="col-md-4">
                    <p class="iconHolder">
                        <i class="fa fa-edit fa-3x fa-fw"></i>
                    </p>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, quo, ut impedit vitae illo dicta architecto. Nihil ipsa officiis laboriosam?
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="iconHolder">
                        <i class="fa fa-file-text fa-3x fa-fw"></i>
                    </p>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, quo, ut impedit vitae illo dicta architecto. Nihil ipsa officiis laboriosam?
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="iconHolder">
                        <i class="fa fa-lock fa-3x fa-fw"></i>
                    </p>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, quo, ut impedit vitae illo dicta architecto. Nihil ipsa officiis laboriosam?
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="iconHolder">
                        <i class="fa fa-dashboard fa-3x fa-fw"></i>
                    </p>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, quo, ut impedit vitae illo dicta architecto. Nihil ipsa officiis laboriosam?
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="iconHolder">
                        <i class="fa fa-envelope fa-3x fa-fw"></i>
                    </p>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, quo, ut impedit vitae illo dicta architecto. Nihil ipsa officiis laboriosam?
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="iconHolder">
                        <i class="fa fa-money fa-3x fa-fw"></i>
                    </p>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, quo, ut impedit vitae illo dicta architecto. Nihil ipsa officiis laboriosam?
                    </p>
                </div>
            </div>
        </section>
        <hr>
    </div>
    <div class="container">
        <section>
            <h1 class="text-center">Lorem ipsum dolor sit amet.</h1>
            <div class="row">
                <div class="col-md-8">
                    <img src="/img/responsive.png" alt="" class="img-responsive">
                </div>
                <div class="col-md-4">
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, voluptates, pariatur quas quibusdam perspiciatis nobis accusantium eum suscipit possimus optio modi id cupiditate dolor. Deserunt ad asperiores voluptates similique unde?
                    </p>
                </div>
            </div>
        </section>
        <hr>
    </div>
    <!-- <div class="wrapper-gray">
        <div class="container">
            <section>
                <h1>Lorem ipsum dolor sit amet.</h1>
                <div class="row">
                    <div class="col-md-6">
                        <p class="lead">
                            <input type="text" class="form-control input-lg" placeholder="Entet your email address"><br>
                            <button class="btn btn-success btn-lg">Sign up for newsletters!</button>
                        </p>
                        <p class="text-muted">
                            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, quam.</small>
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div> -->
    <div class="container" id="pricing">
        <section>
            <h1 class="text-center">Flexible pricing for premium packages.</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum voluptates similique error.
            </p>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3>Free</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>10 Clients</li>
                                <li>25 Products</li>
                                <li>Unlimited Documents</li>
                                <li>1 User</li>
                                <li>Standard Support</li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <h3>
                                0 MKD<br>
                                <small>monthly</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary text-center">
                        <div class="panel-heading">
                            <h3>Classic</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>100 Clients</li>
                                <li>250 Products</li>
                                <li>Unlimited Documents</li>
                                <li>3 Users</li>
                                <li>Premium Support</li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <h3>
                                399 MKD<br>
                                <small>monthly</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3>Premium</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>Unlimited Clients</li>
                                <li>Unlimited Products</li>
                                <li>Unlimited Documents</li>
                                <li>10 Users</li>
                                <li>Premium Support</li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <h3>
                                899 MKD<br>
                                <small>monthly</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-muted text-right">
                <small>* Paid packages are sold in intervals of 3, 6 or 12 months!</small>
            </p>
        </section>
    </div>
{% endblock %}