{% extends "layout.twig" %}

{% block content %}
    <section id="landing">
        <div id="opaqueBackground" class=""></div>
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-center">
                    <h1>С&egrave; што Ви е потребно за Вашиот бизнис!</h1>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-center">
                    <p class="lead">
                        Оnivo е <em>бесплатна</em> и <em>најсовремена</em> веб апликација за фактурирање.<br>
                        Работете преку паметен телефон, таблет или лаптоп; во секое време!
                    </p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <a href="https://app.onivo.mk/register" class="btn btn-primary btn-lg btn-block btnRegister hidden-xs">
                        Регистрирај се <strong>бесплатно</strong> веднаш!
                    </a>
                    <a href="https://app.onivo.mk/register" class="btn btn-primary btn-lg btn-block btnRegister hidden-sm hidden-md hidden-lg">
                        Регистрирај се <br><strong>бесплатно</strong> веднаш!
                    </a>
                    <p style="margin-top:8px;" class="text-center">
                       <strong style="text-transform:uppercase;">Засекогаш Бесплатно!</strong><br>
                       <i class="fa fa-info-circle"></i>
                        Без комплицирани инсталации, без месечни одржувања, без скапи сервери!
                    </p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
    {% include '_partials/features.twig' %}
    <div class="container" id="responsive">
        <section>
            <h1 class="text-center">Onivo ги сака сите!</h1>
            <div class="row">
                <div class="col-md-8">
                    <img src="/img/responsive.png" alt="Onivo работи на сите уреди!" class="img-responsive">
                </div>
                <div class="col-md-4">
                    <p class="lead">
                        Onivo работи на сите модерни прелистувачи, уреди и оперативни системи.
                        Од паметни телефони, таблети, лаптоп компјутери до домашни компјутери - c&egrave; што Ви е потребно е интернет врска и Onivo ќе биде секогаш со Вас!
                    </p>
                    <p id="browsersMatrix">
                        <span class="sic sic-brw_chrome" title="Google Chrome" alt="Google Chrome"></span>
                        <span class="sic sic-brw_firefox" title="Mozilla Firefox" alt="Mozilla Firefox"></span>
                        <span class="sic sic-brw_ie" title="Internet Explorer" alt="Internet Explorer"></span>
                        <span class="sic sic-brw_safari" title="Safari" alt="Safari"></span>
                    </p>
                </div>
            </div>
        </section>
        <hr>
    </div>
    {% include '_partials/pricing.twig' %}
    <div class="wrapper lightGray" id="pricingAux">
        <div class="container">
            <section>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <h3>На кој начин се врши плаќање на месечната претплата?</h3>
                        <p>
                            Onivo е <strong>засекогаш бесплатен</strong>. Плаќање се врши само за класик и премиум пакет врз основа на добиената про-фактура за однапред избраниот период.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <h3>Дали сум обврзан со договор?</h3>
                        <p>
                            <strong>Никако!</strong> Можете во секој момент да ја откажете или промените Вашата претплата, без дополнителни трошоци.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <h3>Што доколку сум незадоволен?</h3>
                        <p>
                            Ако од било која причина сте незадоволни од Onivo, средствата ќе Ви бидат вратени. <strong>Вашето задоволство ни е најважно.</strong>
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
