{% extends "layout.twig" %}

{% block content %}
    <section id="landing">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>С&egrave; што Ви е потребно за Вашиот бизнис.</h1>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur fugit dolor velit amet repellat dolorem.
                    </p>
                    <a href="http://test-onivo.eu1.frbit.net/register?lang=mk" class="btn btn-primary btn-lg">
                        Регистрирај се БЕСПЛАТНО! <i class="fa fa-angle-right fa-fw"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="container" id="features">
        <section>
            <h1 class="text-center">Impress your clients with professional invoices.</h1>
            <div class="row">
                <div class="col-md-4">
                    <p class="iconHolder">
                        <i class="fa fa-edit fa-3x fa-fw"></i>
                    </p>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, quo, ut impedit vitae illo dicta architecto. Nihil ipsa officiis laboriosam?
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="iconHolder">
                        <i class="fa fa-file-text fa-3x fa-fw"></i>
                    </p>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, quo, ut impedit vitae illo dicta architecto. Nihil ipsa officiis laboriosam?
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="iconHolder">
                        <i class="fa fa-lock fa-3x fa-fw"></i>
                    </p>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, quo, ut impedit vitae illo dicta architecto. Nihil ipsa officiis laboriosam?
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="iconHolder">
                        <i class="fa fa-dashboard fa-3x fa-fw"></i>
                    </p>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, quo, ut impedit vitae illo dicta architecto. Nihil ipsa officiis laboriosam?
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="iconHolder">
                        <i class="fa fa-envelope fa-3x fa-fw"></i>
                    </p>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, quo, ut impedit vitae illo dicta architecto. Nihil ipsa officiis laboriosam?
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="iconHolder">
                        <i class="fa fa-money fa-3x fa-fw"></i>
                    </p>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, quo, ut impedit vitae illo dicta architecto. Nihil ipsa officiis laboriosam?
                    </p>
                </div>
            </div>
        </section>
        <hr>
    </div>
    <div class="container">
        <section>
            <h1 class="text-center">Lorem ipsum dolor sit amet.</h1>
            <div class="row">
                <div class="col-md-8">
                    <img src="/img/responsive.png" alt="" class="img-responsive">
                </div>
                <div class="col-md-4">
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, voluptates, pariatur quas quibusdam perspiciatis nobis accusantium eum suscipit possimus optio modi id cupiditate dolor. Deserunt ad asperiores voluptates similique unde?
                    </p>
                </div>
            </div>
        </section>
        <hr>
    </div>
    <div class="container" id="pricing">
        <section>
            <h1 class="text-center">Flexible pricing for premium packages.</h1>
            <p class="lead text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, harum deleniti eveniet asperiores doloremque consectetur totam cumque et maiores alias?
            </p>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default plan">
                        <div class="panel-heading">
                            <h3>Основен</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>10 Клиенти</li>
                                <li>25 Артикли</li>
                                <li><span class="emp">Неограничени</span> Документи</li>
                                <li>1 Корисник</li>
                                <li>Стандардна Подршка</li>
                                <li>Onivo Брендинг</li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <h3>
                                0 <span class="currency">MKD</span><br>
                                <small class="interval">месечно</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary plan plan-popular">
                        <div class="panel-heading">
                            <h3>Класик</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>100 Клиенти</li>
                                <li>250 Артикли</li>
                                <li><span class="emp">Неограничени</span> Документи</li>
                                <li>3 Корисници</li>
                                <li><span class="emp">Премиум</span> Подршка</li>
                                <li>Onivo Брендинг</li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <h3>
                                <span id="classicPrice">399</span> <span class="currency">MKD</span><br>
                                <small class="interval">месечно</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-danger plan">
                        <div class="panel-heading">
                            <h3>Премиум</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><span class="emp">Неограничени</span> Клиенти</li>
                                <li><span class="emp">Неограничени</span> Артикли</li>
                                <li><span class="emp">Неограничени</span> Документи</li>
                                <li>10 Корисници</li>
                                <li><span class="emp">Премиум</span> Подршка</li>
                                <li>Изборен Onivo Брендинг</li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <h3>
                                <span id="premiumPrice">899</span> <span class="currency">MKD</span><br>
                                <small class="interval">месечно</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-muted text-right">
                <small>* Платените пакети се купуваат со траење од 3, 6 или 12 месеци.</small><br>
                <small>** Цените се <strong>со вклучен</strong> ДДВ од 18%.</small>
            </p>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <select name="interval" class="form-control" id="interval">
                    <option value="">Избери траење</option>
                    <option value="3">3 месеци</option>
                    <option value="6">6 месеци</option>
                    <option value="12">12 месеци</option>
                </select>
                </div>
            </div>
        </section>
    </div>
    <div class="wrapper lightGray" id="pricingAux">
        <div class="container">
            <section>
            <div class="row">
                <div class="col-md-4">
                    <h3>How does billing work?</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad quos recusandae repellat dolorum sint.</p>
                </div>
                <div class="col-md-4">
                    <h3>Am I on a contract?</h3>
                    <p>No fucking way. Consectetur adipisicing elit. Ab, ad quos recusandae repellat dolorum sint.</p>
                </div>
                <div class="col-md-4">
                    <h3>What if I'm unhappy?</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad quos recusandae repellat dolorum sint.</p>
                </div>
            </div>
        </section>
        </div>
    </div>
{% endblock %}