{% extends "layout.twig" %}

{% block content %}
    <section id="landing">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1>С&egrave; што Ви е потребно за Вашиот бизнис.</h1>
                    <p class="lead">
                        <strong>Onivo</strong> е <em>бесплатен</em>, <em>најнапреден</em> и <em>најлесен</em> програм за фактурирање. Користете го од својот телефон, таблет или лаптоп компјутер, во секое време!
                    </p>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="https://app.onivo.mk/register" class="btn btn-primary btn-lg btn-block btnRegister">
                        Регистрирај се! <i class="fa fa-arrow-right fa-fw"></i>
                    </a>
                    <p style="margin-top:8px;text-transform:uppercase" class="text-center">
                        <strong>Засекогаш Бесплатно!</strong>
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% include '_partials/features.twig' %}
    <div class="container">
        <section id="responsive">
            <h1 class="text-center">Onivo ги сака сите!</h1>
            <div class="row">
                <div class="col-md-8">
                    <img src="/img/responsive.png" alt="" class="img-responsive">
                </div>
                <div class="col-md-4">
                    <p class="lead">
                        Од паметни телефони, лаптоп компјутери, таблети до домашни компјутери - c&egrave; што Ви е потребно е интернет врска и Onivo ќе биде секогаш со Вас!
                    </p>
                </div>
            </div>
        </section>
        <hr>
    </div>
    <div class="container" id="pricing">
        <section>
            <h1 class="text-center">Флексибилни цени за врвни пакети!</h1>
            <p class="lead text-center">
                Onivo е засекогаш БЕСПЛАТЕН, но доколку имате потреба од посложени и побројни функционалности, Ви нудиме платени пакети по најпристапни цени.
            </p>
            <br>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-default plan">
                        <div class="panel-heading">
                            <h3>Основен</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>10 Клиенти</li>
                                <li>25 Артикли</li>
                                <li><span class="emp">Неограничени</span> Документи</li>
                                <li>1 Корисник</li>
                                <li>Стандардна Поддршка</li>
                                <li>Onivo Брендинг</li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <h3>
                                0 <span class="currency">MKD</span><br>
                                <small class="interval">месечно</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-primary plan plan-popular">
                        <div class="panel-heading">
                            <h3>Класик</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>100 Клиенти</li>
                                <li>250 Артикли</li>
                                <li><span class="emp">Неограничени</span> Документи</li>
                                <li>3 Корисници</li>
                                <li><span class="emp">Премиум</span> Поддршка</li>
                                <li>Onivo Брендинг</li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <h3>
                                <span id="classicPrice">399</span> <span class="currency">MKD</span><br>
                                <small class="interval">месечно</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="panel panel-danger plan">
                        <div class="panel-heading">
                            <h3>Премиум</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><span class="emp">Неограничени</span> Клиенти</li>
                                <li><span class="emp">Неограничени</span> Артикли</li>
                                <li><span class="emp">Неограничени</span> Документи</li>
                                <li>10 Корисници</li>
                                <li><span class="emp">Премиум</span> Поддршка</li>
                                <li>Изборен Onivo Брендинг</li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <h3>
                                <span id="premiumPrice">899</span> <span class="currency">MKD</span><br>
                                <small class="interval">месечно</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6 text-left">
                    <p>
                        <strong><i class="fa fa-info-circle fa-fw"></i> БЕЗ скриени трошоци!</strong><br>
                        Onivo <em>никогаш</em> не наплаќа месечни или годишни одржувања.<br>
                        Користете го колку сакате и кога сакате.
                    </p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <p class="text-muted text-right">
                        <small>* Платените пакети се купуваат во периоди од 3, 6 или 12 месеци.</small><br>
                        <small>** Цените се <strong>со вклучен ДДВ</strong> од 18%.</small>
                    </p>
                    <select name="interval" class="form-control" id="interval">
                        <option value="">Избери период</option>
                        <option value="3">3 месеци</option>
                        <option value="6">6 месеци</option>
                        <option value="12">12 месеци</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="row" id="giveMeMyAccount">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <a href="https://app.onivo.mk/register" class="btn btn-primary btn-lg btn-block">
                        Регистрирај го својот бесплатен профил!
                    </a>
                </div>
                <div class="col-md-2"></div>
            </div>
        </section>
    </div>
    <div class="wrapper lightGray" id="pricingAux">
        <div class="container">
            <section>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <h3>How does billing work?</h3>
                        <p>
                            Once you have choosen your desired paid plan and duration, we will issue you a
                            proforma invoice. When you pay the proforma invoice, your subscription will be activiated promptly.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <h3>Am I on a contract?</h3>
                        <p>
                            No way! You can cancel or change your subscription at any time. There is no setup or cancellation fee.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <h3>What if I'm unhappy?</h3>
                        <p>
                            If you're not happy with Onivo for any reason, we'll gladly provide a full refund. The most important thing is that you're happy.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}