{% extends "layout.twig" %}

{% block title 'Onivo &middot; Политика на Приватност' %}

{% block content %}
    <div class="container">
        <section class="legal">
            <div class="row">
                <div class="col-md-10">
                    <h1>Политика на Приватност</h1>
                    <p>
                        <small>Последен пат ажурирано на 20 Мај 2014</small>
                    </p>
                    <hr>
                    <h3>Вовед</h3>
                    <p>
                        Агро-Про ДОО (<strong>„Onivo“</strong>, „ние“, „наше“ „нам“) води сметка за зачувување на онлајн приватноста и воедно сака да бидете запознаени како ги собираме користиме и објавуваме било каквите Лични Податоци кои вас ќе ве идентификуваат. Политиката на Приватност ги објаснувааат нашите онлајн пракси за податоци применливи на веб сајтовите достапни под доменот „onivo.mk“ (<strong>„Сајтови“</strong>) и сите Onivo Сервиси достапни до вас на, преку или во соработка со Сајтовите на Onivo онлајн апликација (<strong>„Сервиси“</strong>). Ние ги собираме, користиме и објавуваме вашите Лични Податоци само во согласност со Политиката на Приватност.
                    </p>
                    <p>
                        Политиката на Приватноста е инкорпорирана во Условите и е дел од нашите <a href="/terms-of-service">Услови за Користење</a> што ги исцртува и дава преглед на Условите и Состојбите со кои вие се сложувате кога пристапувате и ги користите Сајтовите и Сервисите. Со доставување на вашите Лични Податоци вие се сложувате односно давате согласност за прибирање на истите, користење и објавување на вашите лични податоци како што е наведено во Политиката на Приватност. Политиката на Приватност може, во секое време да биде ревидирана од наша страна со ажурирање на овој документ. По направени вакви ревизии и нивно постирање вашето користењето на Сајтовите и Сервисите ќе значи дека вие се сложувате со ваквата ревидирана Политика на Приватност. Од време на време, треба да ја посетувате ова страница за да направите преглед на ревидираната Политиката на Приватност.
                    </p>
                    <h3>Што се тоа Лични Податоци?</h3>
                    <p>
                        За <strong>„Лични Податоци“</strong> велиме дека се било кој податок, запишан во било каква форма, со кој се идентификува една индивидуа или индивидуа чиј идентитет може да се дознае или одреди со тој податок, а кои не се повржани со податокот за бизнис контакт (име, назив, адреса на фирма). Ова Политика на Приватност не ги покрива глобалните податоци преку кои идентитетот на личноста не може да се одреди. Ние, го задржуваме правото на користење на глобални податоци на било кој начин кој го сметаме за соодветен.
                    </p>
                    <h3>Согласност</h3>
                    <p>
                        Доколку законот тоа не го дозволува, ние нема да ги бараме, користиме или објавуваме вашите Лични Податоци за било која намена без претходно да добиеме ваша согласност. Сепак ние можеме да бараме користење и објавување на Лични Податоци откако тие ќе бидат приберени и тоа во оние случаи кога ние ќе сакаме да ги искористиме вашите Лични Податоци за некоја нова или друга намена.
                    </p>
                    <p class="text-uppercase">
                        Со доставување на вашите Лични Податоците вие се сложувате и согласувате дека ние може да ги имаме, користиме и објавиме ваквите лични податоци во согласност со ова Политика на Приватност.
                    </p>
                    <p>
                        Во повеќето случаи, кои се предмет на законски и договорени ограничувања, имате целосна слобода да одбиете или ја повлечете вашата согласност во било кое време но со претходна навремена најава. Треба да се нагласи дека на Сајтовите и Сервисите можат да постојат делови кои ќе ви бидат достапни само доколку ни доставите одредени лични податоци. Следбено на ова, ако вие не ни ги доставите потребните Лични Податоци можеби нема да можеме да ви овозможиме достапност на овие делови од Сајтовите и Сервисите. Ние ќе настојуваме да ви укажеме на последиците од ваквото ваше одбивање или повлекување на веќе дадената согласност.
                    </p>
                    <h3>Зошто ги собираме Личните Податоци</h3>
                    <p>
                        Ние може да ги превземеме вашите Лични Податоци ако вие доброволно ни ги дадете за:
                        <ul>
                            <li>да ви обезбедиме Сајтови и Сервиси на вас и други лица во согласност со вашите</li>
                            <li>да ги подобриме Сајтовите и Сервисите; процесуираме плаќањето повржано со Сајтовите и Сервисите, вклучувајќи, без ограничување, продукти и услуги, промотивни понуди, и натпреварувања (вклучувајќи и директен маркетинг)</li>
                            <li>да ви понудиме поддршка во однос на Сајтовите и Сервисите</li>
                            <li>да спроведеме анкета и истражување за клиентите</li>
                            <li>да ги исполниме законските и регулаторните барања</li>
                            <li>или такви намени кои се конзистентни со горенаведените</li>
                        </ul>
                    </p>
                    <h3>Како ги собираме и користиме Личните Податоци?</h3>
                    <p>
                        Ние ги собираме, користиме и објавуваме личните податци само кога се смета дека е тоа разумен потег во тој момент или дадени услови, и користиме само фер и законски методи за собирање на лични податоци. На пример, ние можеме да ги прибереме вашите Лични Податоци кога: пополнувате формулар, се регистрирате или креирате сметки или сервиси (вклучувајќи сервиси за трето лице достапни преку Сајтовите или Сервисите), учествувате во анкети, тестови, проценки, купувате продукти или сервиси, поднесувате содржина или комуницирате преку форуми, блогови, четрум, праќање пораки, лични веб страници или други сервиси достапни преку Сајтовите или Сервисите (вклучувајќи и сервиси за трето лице); кога селектирате реклами или содржина; кога вие сте навигаторот на Сајтовите и Содржините , или на друг начин сте во интеракција со Сајтовите и Содржините, (вклучувајќи и сервиси за трето лице) или кога на друг начин партиципирате на Сајтовите и Сервисите (вклучувајќи и сервиси за трето лице).
                    </p>
                    <p>
                        Користењето на вашите Лични Податоци е ограничено на намените наведени во Политиката на Приватност или на друг начин на кој вие сте се сложиле, и ние нема да продаваме, тргуваме, променуваме, разменуваме или објавуваме било кои лични податоци што ги имаме.
                    </p>
                    <h3>Кога можеме да ги објавиме вашите Лични Податоци</h3>
                    <p>
                        Ние можеме да ги објавиме вашите Лични Податоци:
                        <ol type="1">
                            <li>
                                на индивидуи и организации кои се инволвирани во
                                <ol type="1">
                                    <li>обезбедување Сајтови и Сервиси  или информации повржани со Сајтови или Сервиси (вклучувајќи без ограничување продукти, услуги, промотивни понуди и натпревари или други продукти, услуги промотивни понуди и натпревари) во наше име.</li>
                                    <li>одржување, разгледување (ревидирање) или развивање на нови бизнис системи, процедури или инфраструктури, вклучувајќи без ограничување тестирање или ажурирање на нашите компјутерски системи</li>
                                    <li>трансфер на сите или на дел од нашите средства (добра) или бизнисот на Onivo или</li>
                                    <li>реорганизација на Onivo или</li>
                                </ol>
                            </li>
                            <li>за било која намена со се согласувате</li>
                        </ol>
                    </p>
                    <p>
                        При објавување на вашите Лични Податоци на индивидуи или организации, како што е наведено погоре, ние ќе бараме од тие индивидуи и организации да ги земе, користи и објави вашите Лични Податоци во согласност со ова политика за Лични Податоци.
                    </p>
                    <p>
                        Ве молиме да имате на ум дека во одредени случаи користењето и/или објавувањето на Лични Податоци може да биде оправдано или дозволено или каде сме обврзани да ги објавиме личните податоци без согласност. Тоа би било во случај:
                        <ol>
                            <li>при законска обврска, наредба или судско барање, административна агенција за спроведување на закон или владини субјекти</li>
                            <li>кога, со причина, веруваме, дека е потребно да се заштитат правата, приватноста, безбедноста или сопственоста на Onivo, или давателите на лиценци, филијали, корисници или трети лица</li>
                            <li>кога е неопходно да се воспостави или соберат пари кои ни ги должат на нас, на нашите даватели на лиценца или филијали</li>
                            <li>кога е потребно да се идентификува, контактира, комуницира или превземат чекори против индивидуа за која постои сомневање  дека ги прекршува Условите на Сервисот или</li>
                            <li>кога податоците се јавно достапни</li>
                        </ol>
                    </p>
                    <p>
                        Кога мораме или ни е дозволено да ги објавуваме вашите личните податоци без ваша согласност, ние ќе објавиме онолку лични податоци колку што се бара или е потребно.
                    </p>
                    <h3>Точност и задржување на Лични Податоци</h3>
                    <p>
                        Ние настојуваме да се обезбедиме да било кои лични податоци во наша сопственост се прецизни и точни, најнови, и целосни онака како што се бара и е потребно за користење и/или објавување на вакви лични податоци. Доколку откриеме дека вашите Лични Податоци се неточни, не се нови или се нецелосни, следбено на ова ќе настојуваме да ги ревидираме вашите Лични Податоци.
                    </p>
                    <p>
                        Ќе ги задржиме вашите Лични Податоци онолку долго колку што е потребно за намените за кои се и соберени. Овој период може да продолжи и откако ќе ја прекинете соработката со нас, но тоа ќе биде разумен период за нас за да имаме доволно иформации и да можеме да реагираме односно одговориме на било кои проблеми или прашања кои можат да се појават откако соработка ќе заврши. Кога вашите лични податоци веќе нема да ни бидат потребни, истите ќе бидат уништени, избришани или конвертирани во анонимна форма.
                    </p>
                    <h3>Заштита на Лични Податоци</h3>
                    <p>
                        Ние настојуваме да одржиме соодветни физички, процедурални и технички заштитни мерки во однос на нашите канцеларии и можностите (опрема) за сторирање на информации (податоци) за да се спречи и оневозможи губење, злоупотреба или неовлатен пристап, објавување или модифицирање на личните податоци.
                    </p>
                    <p>
                        Исто така, ние ги заштитуваме Личните Податоци со ограничување на пристап до лични податоци на оние вработени, изведувачи, советници, филијали и Сервис провајдери каде управата на Onivo веќе им има одредено и овозможено разумен пристап до вакви информации за било која намена наведена погоре во Политиката на Приватност.
                    </p>
                    <p>
                        <strong>Забелешка: Некои или сите ваши Лични Податоци со кои ние располагаме можат да бидат сторирани или процесуирани до Сервери кои се лоцирани надвор од нашата јурисдикција (место на живеење) чии закони за заштита на податоци можеби се разликуваат од местото каде што вие живеете. Како резултат на ова, податоците можат да бидат подложени на откривање на владата, судовите или агенции за спроведување на законот во оние јурисдикции соодветно со нивните закони без да бидеме известени за тоа.</strong> Доколку се случи ова, ние ќе направиме напори за да се осигураме дека соодветните заштити се барањето на процесуирање на податоци во таа јурисдикција и задржување на заштита на вашите лични податоци да биде еквивалентно со законите применливи во местото каде што живеете.

                    </p>
                    <h3>Пристап до вашите Лични Податоци</h3>
                    <p>
                        Ние ќе ви дозволиме да пристапите и да ги корегирате Личните Податоци доколку понесете барање и ќе настојуваме да ви овозможиме ваков пристап во разумно времетраење, не подолго од 30 дена откако ќе го поднесете барањето. За да се заштитиме од погрешни барања за пристап можеме да побараме и дополнителни информации кои ќе ни овозможат да потврдиме дека на индивидуата пред да и се дозволи пристап или направи измени и корекции на таквите лични податоци, е овластена да направи така.
                    </p>
                    <p>
                        Го задржуваме правото да одбиеме и немаме обврска, да направиме промени во вашите Лични Податоци, доколку со право веруваме дека промените се неточни, не се најнови или се нецелосни. Доколку одбиеме да направиме промена во вашите лични податоци на ваше барање ќе ве информираме за причините за нашето одбивање.
                    </p>
                    <p>
                        Го задржуваме правото да одбиеме обезбедување пристап до Лични Податоци доколку при вакво барање:
                        <ol>
                            <li>би се откриле: (i) Лични Податоци, (вклучувајќи, без ограничување) на друга индивидуа или за починат; или (ii) трговски тајни или други доверливи инфомации што можат да му наштетат на Onivo, на давателите на лиценци, филијали, корисници или трето лице;</li>
                            <li>би се измешале со податоците за договори или преговори на Onivo, даватели на лиценци, филијали, корисници или друго трето лице</li>
                            <li>би се измешале со податоците за договори или преговори на Onivo, даватели на лиценци, филијали, корисници или друго трето лице</li>
                            <li>би се измешале со податоците за договори или преговори на Onivo, даватели на лиценци, филијали, корисници или друго трето лице</li>
                            <li>Личните Податоци не постојат, не се чуваат или едноставно не можат да бидат лоцирани од наша страна</li>
                            <li>може со причина да резултира во (i) нанесување сериозна штета на третман или обновување на податоци на засегнатите индивидуи (ii) сериозна емотивна штета на засегнатата индивидуа или друга индивидуа, (iii) сериозна телесна повреда на друга индивидуа</li>
                            <li>може да се наштети или да се помеша со активностите на спроведување на закон или други истражувачки или регулаторни функции на тело овластено со закон за изведување на на вакви функции , или</li>
                            <li>со закон, наредба или барање од страна на суд, административна агенција за спроведување на законот или владини тела се бара Личните Податоци да бидат задржани</li>
                        </ol>
                    </p>
                    <p>
                        Доколку одбиеме да обезбедиме пристап до Лични Податоци, ние ќе ја известиме индивиуата и при тоа ќе ги наведеме причните за нашето одбивање.
                    </p>
                    <p>
                        Нема да ви наплатиме за пристап или исправка на вашите Лични Податоци, но во некоја мера дозволива со закон, може да ви наплатиме доколку сакате копија на било какви податоци кои се наоѓаат во вашите Лични Податоци.
                    </p>
                    <h3>Како собираме податоци со механички седства?</h3>
                    <p>
                        Можеме да користиме „колачиња“ (cookies) или веб “бејконс“ (beacons) и други слични уреди или направи на или со Сајтовите или Сервисите за да се подобри и зголеми функционалноста и навигацијата за нашите корисници. Информации кои се следат преку овие механизми вклучува, но не е ограничен на; (i) корисничка IP адреса, (ii) вид на веб прелистувач и оперативниот систем кој се користи (iii)  страниците на веб сајтот што корисникот ги посетува, (iv) други веб сајтови што корисникот ги има посетено пред да ги посети Сајтовите и Сервисите и (v) информации за сесија. Ако сакате да ги онеспособите „колачињата“ (cookies), погледајте во вашиот прирачникот на вашиот веб прелистувач за инструкции или пак одете на „помош“. Но, имајте на ум дека доколку го онеспособите „колачињата“ (cookies) тогаш можеби нема да можете да имате пристап до некои од карактеристиките (содржини) на Сајтовите или Сервисите. Колачињата кои се повржани а ние ги користиме со Сајтовите или Сервисите, не ги прибираат и не ги содржат вашите лични информации.
                    </p>
                    <h3>Веб сајтови и сервиси на Трети Лица</h3>
                    <p>
                        Сајтовите или Сервисите можат да обезбедат пристап до Веб сајтови или Сервиси кои се во сопственост на и со нив оперираат трети лица. Овие Веб сајтови и Сервиси на трето лица можат да си имаат своја политика за приватност и не се управувани од ова Политиката на Приватност. Ние не сме одговорни за практикување на приватност или содржината на њебсајтовите и сервисите на трети лица. Веб сајтовите и Сервисите на трети лица можат да собираат, користат и објавуваат лични податоци на друг начин, различно од нас, па затоа ве охрабруваме внимателно да ја прочитате и разгледата политиката на приватност за пристап и користење на вебсајт и сервис на трето лице.
                    </p>
                    <h3>Комуникации на корисникот</h3>
                    <p>
                        Сајтовите и Сервисите можат да обезбедат карактеристики (содржини) кои ви овозможуваат да споделувате информации со други лица (на пр. четрумс, табли со пораки форуми, пораки и други видови на комуникации). Треба да знаете дека доколку доброволно ги објавите вашите лични податоци при користење на било која од овие содржини, вашите лични податоци можат да бидат земени, користени или објавени од такви лица без ограничување. Ова може да резултира во несакани пораки од трети лица, кражба на идентитет и други штети. Било кои лични податоци што ги доставувате до трети лица е целосно на ваш ризик. Onivo не превзема никаква одговорност за било каква штета која ви е направена како резултат на вакви активности.
                    </p>
                    <h3>Прашања околу Политиката на Приватност</h3>
                    <p>
                        Ја поздравуваме вашата повратна информација, доколку имате прашања, коментари или грижи околу Политиката на Приватност или сакате да направите нешто од следново:
                        <ul>
                            <li>пристап или корегирање на на вашите лични податоци кои се во ваша сопственост</li>
                            <li>барање да не контактираме со вас преку електронска пошта или на друг начин или</li>
                            <li>да пријавите било какво прекршување на ова Политика на Приватност</li>
                        </ul>
                    </p>
                    <p>
                        контактирајте не на:
                    </p>
                    {% include '_partials/address.twig' %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}