{% extends "layout.html.twig" %}

{% block title 'Onivo &middot; Privacy Policy' %}

{% block content %}
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-10">
                    <h1>Privacy Policy</h1>
                    <hr>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, nesciunt, eius, quos, ad unde eligendi amet illo tempore quidem qui asperiores mollitia labore dicta aliquid esse eveniet officia magnam dolor tempora cumque. Ducimus, dolor sunt rerum laudantium atque placeat explicabo aperiam perferendis maxime dolorem! Ipsa, explicabo, magni, mollitia iure id facere aspernatur vitae quia sequi necessitatibus placeat dolorem ut ducimus natus provident temporibus quibusdam rem doloribus qui tenetur! Nihil tenetur consectetur facilis nesciunt dicta est impedit quasi. Fuga, maiores, eum, non totam eius iusto incidunt officiis id magni atque eligendi dolorem in debitis praesentium fugiat sint placeat repellat adipisci. Atque, suscipit, sint, earum, modi itaque accusantium maxime asperiores sunt quae doloribus optio eveniet cumque? Iure, mollitia, hic similique doloribus ipsum unde molestiae temporibus illum beatae quisquam nulla aspernatur autem porro sit accusantium voluptatibus odit dolorem ducimus quae harum nobis.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, nesciunt, eius, quos, ad unde eligendi amet illo tempore quidem qui asperiores mollitia labore dicta aliquid esse eveniet officia magnam dolor tempora cumque. Ducimus, dolor sunt rerum laudantium atque placeat explicabo aperiam perferendis maxime dolorem! Ipsa, explicabo, magni, mollitia iure id facere aspernatur vitae quia sequi necessitatibus placeat dolorem ut ducimus natus provident temporibus quibusdam rem doloribus qui tenetur! Nihil tenetur consectetur facilis nesciunt dicta est impedit quasi. Fuga, maiores, eum, non totam eius iusto incidunt officiis id magni atque eligendi dolorem in debitis praesentium fugiat sint placeat repellat adipisci. Atque, suscipit, sint, earum, modi itaque accusantium maxime asperiores sunt quae doloribus optio eveniet cumque? Iure, mollitia, hic similique doloribus ipsum unde molestiae temporibus illum beatae quisquam nulla aspernatur autem porro sit accusantium voluptatibus odit dolorem ducimus quae harum nobis.
                    </p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}