{% extends "layout.twig" %}

{% block title 'Onivo &middot; Услови за Користење' %}

{% block content %}
    <div class="container">
        <section class="legal">
            <div class="row">
                <div class="col-md-10">
                    <h1 style="font-size:50px;">Услови за Користење</h1>
                    <p>ВНИМАТЕЛНО ПРОЧИТАЈТЕ ГИ СИТЕ УСЛОВИ ЗА КОРИСТЕЊЕ.</p>
                    <p>
                        <small>Последен пат ажурирано на 19 Мај 2014</small>
                    </p>
                    <hr>
                    <h3>Прифаќање на условите за сервис</h3>
                    <p>
                        Овие услови за користење („Услови“) го одредува вашиот пристап и користење на Веб сајтови кои сега ви се достапни во таа сфера под името „onivo.mk“ (Сајтови) а се  во сопственост и под раководство на Агро-Про ДОО („Ониво“) како и сите Ониво услуги кои ви се на располагање преку или се во соработка со Сајтови за кои електронски сте аплицирале (види „Услуги“). Со пристапување или користење на Сајтовите или Сервисите вие всушност се обврзувате дека ги  прифаќате овие Услови. Доколку не ги прифаќате овие Услови, не смеете да пристапувате и да ги користите  Сајтовите или Сервисите. ДОКОЛКУ НЕ СТЕ ЗАДОВОЛНИ СО ОВИЕ  УСЛОВИ ИЛИ  ПРАВИЛА, НАШИ ПОЛИТИКИ, НАСОКИ ИЛИ ПРАКТИКУВАЊА КОИ СЕ ПРИМЕНУВААТ  НА САЈТОВИТЕ ИЛИ СЕРВИСИТЕ,  ВАШЕТО ЕДИНСТВЕНО И ЕКСКЛУЗИВНО ПРАВО Е ДА ПРЕКИНЕТЕ СО КОРИСТЕЊЕ НА САЈТОВИТЕ И СЕРВИСИТЕ.  Ониво може во секое време да ги ревидира овие Услови со ажурирање на ова  вест (постирање).  Kористење на Сајтовите и Сервисите по вакви ревизии  ќе значи  дека се согласувате со ревидираните Услови. Одвреме навреме треба да ја посетувате ова страница за да направите преглед на овие Усови како и на други направени ревизии.
                    </p>
                    <h3>Возраст</h3>
                    <p>
                        Вашиот пристап  или користење на Сајтовите или Сервисите  покажува дека вие  гарантирате дека сте на возраст од мнозинството или постари и дека  припаѓате во она  правна рамка која според годините овозможува користење на овие Сајтови и Услуги во своето место на живеење. НЕ СМЕЕТЕ ДА ПРИСТАПУВАТЕ КОН САЈТОВИ ИЛИ ДА ГИ КОРИСТИТЕ СЕРВИСИТЕ ДОКОЛКУ ЈА НЕМАТА ВИТИНСКАТА ВОЗРАСТ.
                    </p>
                    <h3>Содржина на сајтот</h3>
                    <p>
                        Целата прикажана содржина, или на друг начин, достапна преку Сајтови и Сервиси, вклучувајќи ги тука, без ограничување, информациите, вестите, едиториали, комуникации, текст, табели, графикони, податоци, фотографии, слики, графика, музика, видеа, звуци, интерфејс на корисникот, карактеристики, апликации, комјутерски софтвер и код, односно целата  „Сајт Содржина“ е заштитени со Македонски и странски авторски права и други закони и е во сопственост на Ониво, давателите на лиценца  или странка акредитирана како провајдер на „Сајт  Содржината“ Ќе се придржувате кон сите авторски права во врска со  информации и ограничувања  кои се достапни или можат да се добијат преку Сајтовите или Сервисите  во однос на “Сајт Содржината“. Можеби сакате да пристапите кон Сајт Содржината само заради свои лични потреби  што  функционалноста на Сајтовите и Услугите и го овозможува тоа, но не смеете да копирате, репродуцирате, продавате, лиценцирате, давате под закуп, трансферирате, назначувате, модифицирате, адаптирате, преведувате,  преуредувате (аранжирате), публикувате, покажувате, симнувате на домашен компјутер, дистрибуирате, разделувате, размонтирате, подготвувате веќе изведени дела  (правење плагијат), ре-постирање. Исто така, не  смеете Сајтот да го направите достапен за секого, или да го користите на било каков друг начин, директно или индиректно, било кој дел од „Сајт Содржината“, во целост или делумно, во било каква форма или со било какво средство без претходна пишана согласност од страна на Ониво или провајдерот на „Сајт Содржината“.
                    </p>
                    <h3>Корисничка содржина</h3>
                    <p>
                        Сајтовите и Сервисите можат да ви обезбедат карактеристики (физиономија ) кои на вас  и на другите корисници ќе ви овозможи да постирате или доставите содржина (Содржина на Корисникот-“Корисник-Содржина“) до или преку Сајтовите и Сервисите  вклучувајќи, без ограничувања, пораки, коментари, документи, слики, видео, аудио, софтвер, фајлови или други информации и содржини.
                    </p>
                    <p>
                        Ги задржувате сите сопственички права во вашата Корисничка Содржина. Сепак, со  постирање или поднесување Корисничка Содржина до или преку Сајтовите или Сервисите вие одобрувате (доделувате), представувате и гарантирате дека  имате право да доделувате, односно одобрувате на Ониво и неговите филијали, наследници или потписници, постојана и неотповиклива и во светски рамки пренослива, не-ексклузивна, целосно платена, ослободена од авторски хонорар   лиценца (“Лиценца за Корисничка Содржина“) да  а) користите, репродуцирате, сторирате, прикажувате, јавно прикажувате (изведувате), адаптирате, преведувате, модифицирате, повторно креирате   веќе креирани дела, инкорпорирате во други изведби, дистрибуирате, откривате и други бенефиции од вашата Корисничка Содржина во сите сегашни познати медиуми или подоцна основани, насекаде во светот; (i)   се овозможи достапност до  сите Сајтови и Сервиси на вас и на други лица во согласност со вашите сетингс (поставувања) на Сајтовите и Сервисите  (ii) подобрување на перформансите, квалитетот, карактеристиките, функционалноста или безбедноста на Ониво производите или услугите или (iii) како што се бара од управувачките или регулаторните власти, судски налог или применлив закон и (б) сублиценцирање на трети страни кои дејствуваат (оперираат) во корист на Ониво. Користење на било какви лични податоци од страна на Ониво што представува дел од Корисничката Содржина што вие ја постирате или поднесувате до или преку Сајтовите и Сервисите е регулирано според Условите на Приватната Политика на Ониво, која пак е инкорпорирана и е дел од   овие Услови.
                    </p>
                    <p>
                        Во прилог на ова, со постирање или поднесување на Корисничка Содржина до или преку Сајтовите или Сервисите : (а) вие се откажувате и гарантирате со вашето присуство на Сајтот дека во писмена форма се имате откажано  од било какви морални права на Корисничката Содржина, вклучително, без ограничување, права на атрибуција, права на интегритет и слични други права во било која јурисдикција (надлежност)  во светот: и (б) вие представувате гаранција дека  примената на било кои права дадени од ваша страна во согласност со Лиценцата за Корисничка Содржина, нема да ги прекрши или наруши  правата на било кој, вклучувајќи, без ограничување приватни или јавни права, интелектуални сопственички права  или други права.
                    </p>
                    <p>
                        Само вие а не никој друг  е одговорен за Корисничката Содржина што вие ја постирате или доставувате до или преку на Сајтовите или Сервисите. Ониво не прави мониторинг ниту пак ја одобрува Корисничката Содржина постирана или поднесена до или преку Сајтовите и Сервисите. Ониво, во рамките на  својата единствена и непречена дискреција може да уредува, одстранува или брише било што од Корисничката Содржина што вие ја постирате или доставувате до или преку Сајтовите и Сервисите. Ониво не е одговорен за и не  поткрепува (оправдува)   било каква Корисничка Содржина  достапна на или преку Сајтови или Сервиси. Под никакви услови било каква страна повржана со Ониво (подолу дефинирано) не може да се смета дека е одговорна, директно или индиректно, за било каква загуба или штета предизвикана или наводно е направена на вас или било која трета страна во врска со  Корисничката Содржина постирана од трета страна на или преку Сајтовите или Сервисите. Доколку имате сознанија  за било каква злоупотреба на Сајтовите или Сервисите од било кој ве молиме веднаш да контактирате  со Ониво на
                        <script language="javascript">
                        <!--
                        RvQPRFosVItglhu();
                        //-->
                        </script>
                    </p>
                    <h3>Сервиси на трети лица</h3>
                    <p>
                        Сервисите користени  од (со кои оперираат) трети лица (“Сервис на Трети Лица-) можеби можат да ви бидат достапни на вас на, преку или кои се во конекција со Сајтовите или Сервисите. Сервис на Трети Лица, од време на време,  вклучува услуги за пораки, мобилни услуги, особености (физиономија), содржина, апликации, софтвер, снабдување со податоци или други понудени услуги на вас или на трети лица. Услугите на трети лица можат да ви бидат достапни и на вас преку линковите на вебсајтот, вградени апликации, вградена содржина, апликации инсталирани на вашиот комјутер или мобилен телефон и други технолошки механизми. Услугите за Трети Лица можат да имаат пристап до информациите на вашата Ониво корисничка сметка, информации за профил, информации за активност, содржина и други информации повржани со вашето користење на Сајтовите или Сервисите  и да ги споделуваат вашите информациите со вебсајтовите и услугите на  трето лице, кое пак е овластено од ваша страна. Слично на ова, Сервисите за Трето Лице (трети лица) можат да ги откријат  информациите за корисничката сметка на или преку Корисничките Сајтови или Сервиси, информации за профилот, информации за активности, содржина или други информации повржани со Сервисите  на (за)  Трето Лице.
                    </p>
                    <p>
                        Ониво не ги оправдува (поткрепува) Сервисите за Трето Лице и не е одговорен за користење, од ваша страна,  на Сервисите на (за) Трето Лице ниту пак  е одговорен за било какви загуби или штети произлезени од вашето користење на  Услугите на било кое Трето Лице. Користењето на Сервисите  на(за) Трето Лице е на ваш ризик и во согласност со било какви договори што вие можете да ги имате со провајдерите за трето лице за Сервисите за Трето Лице. Ониво не даваат изјави или гаранции и ги одбиваат сите изјави  гаранции или состојби кажани или имплицирани, при тоа почитувајќи ги Сервисите на Трето Лице , вклучувајќи, без ограничување: (а) легалност, точност, сеопфатност, сигурност, соодветност, достапност, безбедност, навременост, на било кои Сервиси на Трето Лице, или можноста на Сервисите  на Трето Лице да ги задоволи вашите побарувања (потреби) или да ви обезбеди специфични резултати (исходи); (б) перформанси, тргување, квалитет, погодност за одредена намена, тивко уживање, неповредување, или наслов за било каква информација, со содржина на материјал, софтвер, стоки и услуги  или пак истите да се направат достапни преку било кои Услуги за Трето Лице; (ц) оперирање на било какви Услуги за Трето Лице или дека такви Услуги ќе бидат непрекинати или без грешки , дека дефектите или грешките  во такви услуги ќе бидат искорегирани или дека таквите услуги ќе немаат вируси или други штетни компонент; (д) собирање, користење, сторирање, откривање или обезбедување на било какви информации или содржина  што вие ја обезбедувате на таквите Сервиси на Трето Лице.
                    </p>
                    <h3>Фидбек</h3>
                    <p>
                        Ониво со задоволство ќе ги прифати сите ваши сугестии, коментари и фидбек (повратни информации) , респектирајќи ги Сајтовите, Содржината на Сајтот, Сервисите  и работењето на Ониво. Сепак, со повратни информации до  Ониво, вие се сложувате и  гарантирате дека Ониво слободно може да користи таков фидбек за било какви намени што тој ги сака, дали за бенифит на Ониво или било кое друго лице без никаков надоместок или обврска кон вас или било кое друго лице.
                    </p>
                    <h3>Генерална примена (користење) на Сајтовите и Сервисите</h3>
                    <p>
                        При вашето користење на Сајтовите и Сервисите  вие се сложувате да дејствувате одговорно на начин кој демонстрира практикување на добро расудување. Вие се сложувате да не постирате или давате Корисничка Сордржина или користење на Сајтови или Сервисите  за праќање пораки на други што : (а) се нелојални, заканувачки, навредливи, клеветнички, плашливи, неприлични, вулгарни, порнографски, богохулни или непристојни, вклучувајќи, без ограничувања, Корисничка Содржина или пораки кои го конституираат или охрабруваат однесувањето што би довело до кривично дело и би  дало поттик на  подложување на граѓаните на истото или на било каков друг начин прекршување на локален, државен, провинциски, национален или интернационален закон; (б)  прекршуваат или нарушуваат права на било кој, вклучувајќи, без ограничувања, право на приватност, право на рекламирање,, интелектуални права на сопственост,(вклучувајќи, без ограничувања, авторски права, патент, деловна тајна, и право на заштитен знак) или други права без претходно да се  добие дозвола од страна на оној кој ги поседува правата; (ц) промовираат расизам, фанатизам, омраза, или било какво физичко повредување на група или индивидуа, можат да бидат штетни за помладите, малтретира или одобрува  малтретирање на друго лице, пораки кои во себе содржат  материјал што може, лицата кои се помлади од вообичаената возраст за овие Сајтови, да ги експлоатира  на сексуален или насилен начин или пак пораки со информации за инструкции за нелегални активности; (д)  делат лозинки, информации за финансии или информации за личен идентитет заради комерцијални или незаконски намени (намери); (е) содржат или создаваат вируси или други штетни компоненти; (ф) креираат несакана пошта, верижни писма, несакано масовно испраќање или спем; (г) содржат рекламен материјал или кои се ангажирани во комерцијални активности и/или продажба или пораки кои се однесуваат на натпревари, лотарии, трговија, рекламирање, и/или пирамидални шеми; или (х) помагаат во (при) реализирање на сите овие активностите.
                    </p>
                    <p>
                        Во прилог на ова, вие се сложувате да не; (а) ги користите Сајтовите, Корисничкиот Сајт или Сервисот за било какви нелегални или неовластени намени; (б) се обидувате да барате неавторизиран пристап до било кој дел од Сајтовите, Корисничката Содржина или Сервисот; (ц) продавате, препродавате, издавате, закупувате или барате сублиценца за било кој аспект од Сајтовите, Корисничката Содржина или Сервисот; (д) се мешате или правите штета на Сајтовите, Корисничката Содржина или Сервисот, вклучувајќи, без ограничувања, преку користење вируси, откажување ботови, Тројански коњи, штетен код, flood pings?? негирање на напад на сервисот, пакет или IP измама, фалсификувано рутирање или информации од електронски адресар или слични методи или технологии; (е) да не  ја репродуцирате или заобиколувате навигациската структура или презентација на Сајтовите, Корисничката Содржина и Сервисот; (ф) собирате или сторирате било какви информации за било кои други корисници на Сајтовите, Корисничките Содржини и Сервисите освен во доменот на дозволено користење  на истите: (г) се претставувате со лажен идентитет,вклучувајќи, без ограничувања, обезличување на друго лице или ентитет; (х) одстранувате  авторски права, заштитен знак, или други права на сопственост кои се на Сајтот или се повржани со Сајтовите, Корисничката Содржина или Сервиси: (и) мдифицирате, адаптирате, сублицнецирате, преведувате, продавате, дешифрирате, разделувате или друг вид на растурање на било кој дел од Сајтовите, Корисничката Содржина или Сервиси; (ј) ги користите Сајтовите, Корисничката Содржина или Сервисите за праќање пораки на лица со кои не одржувате врски или лица кои најверојатно нема да ве признат како извор на пораката; (к)  ги користите Сајтовите, Корисничката Содржина или Сервисите за праќање пораки до издавачки куќи, новински здруженија, или други слични групи; (л)  ги користите Сајтовите, Корисничката Содржина или Сервисите за вознемирување, следење или праќање непримерни или несакани пораки до друго лице вклучувајќи, без ограничувања , несакана пошта, верижни писма, несакани масовни испраќања или спем; или (м) помагате на било кој во реализирање на горе наведените активности.
                    </p>
                    <p>
                        Вие исто така се сложувате да се усогласите со сите ограничувања за употреба во однос на   Сајтовите, Корисничката Содржина или Сервисите онака како што е специфицирано од страна на Ониво, од време на време, во своето дискреционо право, вклучувајќи, ограничувања на простор за сторирање, користење на широкопојасен опсег, број на конекции/соработки/пораки, број на симултани логирања или инстанци (случаи) на Сајтовите и Сервисите, број/фреквенција на повици до Сајтовите или Сервисите или апликациски програмски интерфејси достапни на или преку Сајтовите или Сервисите.
                    </p>
                    <h3>Интеракција со други корисници</h3>
                    <p>
                        Само вие сте одговорен за вашата интеракција со други корисници на Сајтовите или Сервисите, вклучувајќи, без ограничување, Корисничка Содржина што вие ја постирате на или преку Сајтовите или Сервисите и преку вашите комуникации со други корисници. Ониво нема да биде одговорен за било каква штета или повреда како резултат на вашата интеракција со други корисници.
                    </p>
                    <p>
                        Јасно ви е дека Ониво ги нема корисниците на својот скрин, ниту пак поставува прашања за бекграунд или идентитетите  на своите корисници ниту пак се обидува да ги верификува нивните изјави. Ониво го задржува своето право, но нема обврска, да врши мониторинг на сите интеркации помеѓу вас и други корисници и да превзема дејствија заради добробит на сите и да го ограничи пристапот  или достапноста до било која Корисничка Соржина што Ониво може да ја смета за илегална или се коси со овие Услови.
                    </p>
                    <h3>Кориснички сметки</h3>
                    <p>
                        За да пристапите и за да  користите одредени делови или карактеристики на Сајтовите или Сервисите,  можеби ќе се бара да  се регистрирате (“Корисничка Сметка“). Тогаш вие гарантирате дека : (а) сите информации кои ги доставувате како дел од процесот на регистрација или повржани со вашата Корисничка Сметка  се вистинити, точни, тековни и целосни и; (б) ќе ги задржите и веднаш ќе ги ажурирате ваквите информации  да останат вистинити, точни, тековни и целосни. Доколку Ониво има разумни причини да се посомнева дека било која информација која сте ја доставиле како дел од процесот на регистрација или информација која е повржана со вашата Корисничка Сметка не е вистинита, е неточна, нетековна,  нецелосна или дека вие не сте овластени да регистрирате Корисничка Сметка, Ониво има право да го суспендира или крајно прекине вашиот пристап до и користење на Сајтовите и Сервисите (или било кој дел од нив). Користење на лични податоци од страна на Ониво кои ги доставувате како дел од процесот на регистрација е регулирано со Приватната (Внатрешната) Политика на Ониво.
                    </p>
                    <p>
                        Од вас, при регистрирање Корисничка Сметка, можеби  ќе се бара да изберете корисничко име и лозинка. Корисничкото име и пасвородот можеби ќе се бараат при пристапување до одредени делови или карактеристики на Сајтовите или Сервисите кои можете да ги користите само вие. Вашето корисничко име и лозинка не може да се открие  или да го користи друго лице. Само, и исклучиво вие сте одговорни за зачувување  на доверливоста и безбедноста на вашето корисничко име и лозинка. Ониво не е одговорен за било каква загуба или оштета при користење на Сајтовите или Сервисите а кои се појавуваат со внесување на вашето  корисничко име и лозинка. Вие се сложувате да го известите Ониво веднаш доколку некој неовластено го користи вашето корисничко име и лозинка или пак некоја друга Корисничка Сметка или пак настане било какво нарушување во  безбедноста и тајноста, како и дека сигурно ќе се исклучите од вашата Корисничка Сметка на крај од секоја сесија.
                    </p>
                    <h3>Уплатена претплата за Сервиси (Претплатени Сервиси)</h3>
                    <p>
                        Одредени делови или карактеристики на Сајтовите или Сервисите можат да бидат достапни само на база на претплата односно доколку за нив претходно се плати (“Платен Сервис“). Ониво го задржува своето дискреционо правото да  преиначи било кој слободен дел или карактеристика на Сајтовите или Сервисите што може, од време на време, да ги направи достапни во Платени Сервиси, и обратно.
                    </p>
                    <p>
                        Надоместоците за претплата се нивни, ексклузивни, а ваша е одговорноста за сите такси, тарифи, обврски и други плаќања или проценки наметнати од владата или владината агенција во релација со Платени Сервиси (“Применливи Даноци“), вклучувајќи, без ограничувања, сојузни, провинциски, државни и локални продажби, данок  за  користење стока и услуги, данок на додадена вредност и данок на лична сопственост односно  за сите плаќања кои се должат на Ониво а се во врска со Платениот Сервиси, освен за данокот заснован  врз  нето приходот на Ониво. Доколку од Ониво се бара да плати било какви Применливи Даноци во врска со било какви Платени Сервиси на кои вие сте се предплатиле, го овластувате Ониво да ги наплати тие Применливи Даноци користејќи ги вашите информации за плаќање.
                    </p>
                    <ol type="a">
                        <li>
                            <strong>Модификации на Платени Сервиси од страна на Ониво</strong>
                            <p>
                                Ониво го задржува своето ексклузивно право да ги модифицира Платените Сервиси и Претплатничките Такси од време на време. Ониво ќе  достави најава за промените во однос на материјалната страна до Претплатничкиот или Платениот  Сервис со праќање е-маил порака на е-маил адреса, односно дека вие имате регистрирано под Вашата Корисничка Сметка (Најава во која се наведени Промените).
                            </p>
                        </li>
                        <li>
                            <strong>Ваше откажување, ажурирање или намалување (деградирање) на Платениот Сервис</strong>
                            <p>
                                Кај (со) некои Платени Сервиси, од време на време,  до одреден степен и под услови дозволени од страна на Ониво имате право да го ажурирате или деградирате    Платениот Сервис. Со надградба или деградирање на Платениот Сервис, вие го овластувате Ониво да ги наплаќаат сите придружни промени во рамките на Претплатничката Такса во согласност со платежните услови за Претплатнички Такси и Применливи Даноци опишани погоре. Откажување, надградување или деградирање на Платениот Сервис може да се бара преку “Претплатничкиот Таб“, Сепак, потполно ви е јасно дака таквото откажување, надградување или деградирање можеби нема да биде спроведено  во наредните 5 работни дена по приемот на такво барање од страна на Ониво. (ПРИ ОТКАЖУВАЊЕ, НАДГРАДУВАЊЕ ИЛИ ДЕГРАДИРАЊЕ  НА ПЛАТЕНИОТ СЕРВИС ОД ВАША СТРАНА, ИЛИ ПРИ ПРЕКИНУВАЊЕ НА ПЛАТЕНИОТ СЕРВИС ОД СТРАНА НА ОНИВО, НЕМА ДА ВИ СЕ ВРАТАТ СРЕДСТВАТА НИТУ ПАК ДА ВИ СЕ ДАДЕ КРЕДИТ (потврда или бодови ) ЗА ПРЕТПЛАТНИЧКИТЕ ТАКСИ ИЛИ ПРИМЕНЛИВИ ТАКСИ ЗА БИЛО КОЈ ОСТАНАТ ДЕЛ ОД ТЕКОВНИОТ ПЕРИОД НА ПЛАЌАЊЕ ИЛИ ПРОМЕНА ВО ПРЕДПЛАТНИЧКИТЕ ТАКСИ ИЛИ ПРИМЕНЛИВИ ТАКСИ КОЈА НАСТАНУВА КАКО РЕЗУЛТАТ НА НАДГРАДУВАЊЕ ИЛИ ДЕГРАДИРАЊЕ НА ПЛАТЕНИОТ СЕРВИС).
                            </p>
                            <p>
                                Се сложувате и го овластувате Ониво,  при ваше откажување на Платениот Сервис, веднаш изврши деактивирање или бришење на вашата Корисничка Сметка и на сите Кориснички Содржини повржани со Платениот Сервис.
                            </p>
                        </li>
                        <li>
                            <strong>Задоцнети плаќања</strong>
                            <p>
                                Доколку Ониво не ја добие навреме претплатата од Претплатничката Такса или Применливи Такси за Платени Сервиси, тогаш го задржува своето ексклузивно право да ја прекине или суспендира вашата претплата на Платениот Сервис.
                            </p>
                        </li>
                    </ol>
                    <h3>Прекинување на Услугите на Сервисот</h3>
                    <p>
                        Ониво го задржува правото во секое време (кога сака) да го модифицира или прекине привремено или трајно пристапот до било кој дел од Сајтовите, Сајт Содржина или Сервиси без претходна најава. Со вашето пристапување кон Ониво се сложувате дека Ониво не е одговорен пред вас или било кое трето лице за било каква модификација или дисконтинуитет на Сајтовите, Сајт Содржина или Сервиси.
                    </p>
                    <h3>Прекинување (на корисничкиот налог)</h3>
                    <p>
                        Ониво, може, без претходна најава а врз основа на своето ексклузивно право и без било каква причина да го прекине вашето право на пристап или користење на Сајтовите, Сајт Содржина или Сервиси (или било кој дел од нив). Ониво, исто така, може да го прекине вашето право на пристап и користење на Сајтовите, Сајт Содржина или Сервиси (или било кој дел од нив) доколку прекршите некои од овие Услови. Исто така, вие се сложувате, да било какво прекинување на вашиот пристап до  Сајтовите, Сајт Содржина или Сервиси може да стапи на сила без претходна најава, а исто така прифаќате и се сложувате Ониво веднаш да ви ги деактивира и избрише вашите Кориснички Сметки и било која Корисничка Содржина  или ви забрани понатамошен пристап до такви Кориснички Сметки и Кориснички Содржини, Сајтови, Сајт Содржина или Сервиси, Понатаму, Ониво нема да се смета за  одговорен пред вас или трето лице за било какви трошоци или штети од било каков вид кои се јавуваат како резултат на прекинување на вашиот пристап до Сајтовите, Сајт Содржина или Сервиси или било какво деактивирање или бришење на вашите Кориснички Сметки и Корисничка Содржина.
                    </p>
                    <h3>Наплата за комуникации</h3>
                    <p>
                        Пристапот до  Сајтовите, Сајт Содржина или Сервиси бара Интернет повржување. Само вие и единствено вие сте одговорен за таксите за комуникација  и други наплати на кои се изложувате заради вашиот пристап до Сајтовите и Сервисите, вклучувајќи без ограничување, такси и наплати  за  мобилноста, за податоците, за безжичен интернет и за пристап до мрежата или нејзино користење.
                    </p>
                    <h3>Одговарање на барања на клиенти</h3>
                    <p>
                        Политиката на Ониво е да одговори на барањата за прекршување  (нарушување) на интелектуална сопственост. Ониво веднаш ќе реагира со тоа што ќе ги  процесуира  и истражи забелешките за ваквата појава односно наводно прекршување и ќе превземе соодветни дејствија, во рамките на својот ексклузивитет. Нотификација за барање за прекршување на интелектуална сопственост треба да се пријави на
                        <script language="javascript">
                        <!--
                        RvQPRFosVItglhu();
                        //-->
                        </script>
                    </p>
                    <h3>Одрекнување од гаранции</h3>
                    <p>
                        Сајтовите, Сајт Содржините и Сервисите се овозможени врз  основа на „as is“ и „as available“. Со пристапување или користење на Сајтови, или Сервиси знаете дека користењето на Сајтовите, Сајт Содржината и Сервисите е целосно на ваш ризик. Ониво не застапува и не  гарантира и ги одрекува  сите застапувања,  гаранции и состојби кажани или имплицирани, вклучувајќи, без ограничување: (а)  дека  Сајтовите, Сајт Содржината или Сервисите ќе бидат прецизни, целосни, сигурни,  соодветни, достапни, безбедни, навремени, ќе ги задволи вашите барања или ќе ви ги овозможи посакувани резултати; (б) не застапува и не гарантира за  состојби на перформанси, продажба, квалитет, тивко уживање, не правење прекршок, наслов (звање, титула) и оние кои произлегуваат од Статутот или Законот, капитал, или од курсот на работење  или тргување; (ц) не гарантира дека работењето на Сајтовите или Сервисите ќе биде непрекинато, безбедено или без грешки; (д) дека недостатоците или грешките на (во) Сајтовите, Сајт Содржина, или Сервиси ќе бидат корегирани; (е) не гарантира дека Сајтовите, Сајт Содржината или Сервисите ќе немаат вируси или други штетни компоненти или (ф) не гарантира дека комуникацииите до, од,  преку или во конекција со Сајтовите, Сајт Содржината или Сервисите ќе бидат безбедни и не пресретнати.
                    </p>
                    <p>
                        <strong>
                            Забелешка: Законите кај одредено правосудство не дозволуваат ограничување на имплицираните гаранции или исклучувања или ограничување на одредени штети доколку овие закони се применат на вас, тогаш некои  или сите од горе наведените одрекувања, исклучувања или ограничувања можеби и нема да се применат на вас, а вие можете да добиете и  дополнителни права.
                        </strong>
                    </p>
                    <h3>Ограничување од одговорности</h3>
                    <p>
                        Ониво, неговите службеници, директори, вработени, агенти, изведувачи, даватели на лиценци или нивните соодветни наследници и потписници (колективно “сите оние повржани со Ониво“) во никој случај нема да биде предмет на законска процедура  во однос на  било какви посебни, индиректни, инцидентни, консеквентни  штети од било каков вид кои подлежат на казни, вклучувајќи, без ограничувања, било каква загуба или нанесени штети од природа на пропаднати бизниси, пропаднати заштеди, изгубени податоци, пропаднато користење, изгубени можности, изгубени профити, губење на добра воља, оштетување на сопственост, побарувања од трети лица, или било какви други економски загуби без разлика на причина и дали тие настанале како резултат на договор (вклучувајќи го тука и фундаменталното прекршување) деликт (вклучувајќи запоставување (занемарување)) или нешто друго. Горе наведената лимитација ќе се применува дури и ако лицето кое е повржано со Ониво знаело или требало да знае за можноста на предизвикување на вакви штети.
                    </p>
                    <p>
                        Во никој случај Ониво и неговите субјекти нема да бидат подложени на колективна одговорност во однос на било каква работа која е повржана со Сајтовите, Сајт Содржината, Сервисите или други Услови, без разлика дали се јавуваат  како резултат на договор (вклучувајќи фундаментално прекршување) деликт (вклучувајќи запоставување (занемарување)) или нешто друго, надминување на помалата од (а) целосната сума која вие ја имате платено на Ониво, доколку е така, и (б) 50 евра дури и ако Ониво соработници биле советуван или требале да знаат за можностите за вакви штети.
                    </p>
                    <p>
                        Во никој случај субјектите на Ониво (партнерот) нема да бидат одговорни за било каква загуба или  штета што може да се јави поради грешка направена од страна на партнерот на Ониво или ваше неуспешно заштитување на корисничкото име или лозинка.
                    </p>
                    <p>
                        Сите субјекти  на Ониво во најкус можен рок ќе негираат  било каква одговорност за дејствувања, пропусти или однесување на трети лица корисници, сервис провајдер, рекламер или спонзор на Сајтовите, Сајт Содржина или Сервиси (колективно“ трети лица-корисници“). Под никакви услови ниеден соработник нема да биде одговорен за било каква повреда, загуба, штета во однос на  било какви посебни, индиректни, инцидентни, консеквентни  штети од било каков вид кои подлежат на казни, или за трошоци произлезени од: (а) дејствувања, пропусти или однесување на трети лица-корисници, или (б) користење или неспособност за користење на информации, материјали, софтвер, содржина, производи (стока) или сервиси лоцирани на или достапни преку било која вебсајт или сервис повржан со или од Сајтовите, Сајт содржината или Сервисите. Доколку одлучите да пристапите или користите било каков веб сајт или сервис повржан со  или од Сајтовите, Сајт Содржина и Сервиси  (или било какви информации, материјали, софтвер, содржина, стоки или сервиси кои седостапни) го правите тоа на свој сопствен ризик.
                    </p>
                    <p>
                        Вие, ги ослободувате  сите субјекти повржани со Ониво, од одговорност за штети што вие ќе ги предизвикате и се сложувате да немате никакви побарувања од Ониво субјектите, побарувања кои произлегуваат од купување или користење на стока, производи, сервиси, софтвер материјали, информации или содржина достапна преку Сајтови, Сајт Содржина или Сервиси или од повржување со или од Сајтови, Сајт Содржини или Сервиси  од  трето лице.
                    </p>
                    <p>
                        <strong>
                            Забелешка: Законите кај одредено правосудство не дозволуваат ограничување на имплицираните гаранции или исклучувања или ограничување на одредени штети доколку овие закони се применат на вас, тогаш  некои  или сите од горе наведените одрекувања, исклучувања или ограничувања можеби и нема да се применат на вас, а вие можете да добиете и  дополнителни права.
                        </strong>
                    </p>
                    <h3>Обештетување</h3>
                    <p>
                        Се сложувате да ги обештетите, браните и заштитувате  субјектите на Ониво од било какви загуби, одговорности (вклучувајќи без ограничување, договори и пресуди) и трошоци (вклучувајќи без ограничување, адвокатски такси и трошоци и судски трошоци) кои произлегуваат од (а) поднесување тужба од трето лице против Ониво субјекти наведувајќи дека Корисничката Содржина или доставените и постираните пораки до  или преку Сајотви или Сервиси од ваша страна ги прекршува правата на ителектуална сопственост на трето лице, права на приватност, право на рекламирање, и други права (б) секое прекршување од ваша страна на било која одредба од овие Услови  и застапување или гаранција тука утврдени. (ц) сите трошоци направени од било кој субјект на Ониво во спроведување на ова одредба. Ониво го задржува своето дискреционо право да ја контролира одбраната и решавање на дејствија или постапки против било кој субјект на Ониво за кои вие сте се обврзале да го браните во согласност со горе наведеното.
                    </p>
                    <h3>Општо</h3>
                    <p>
                        Ониво нема да прифати прекршување на овие Услови, прекршувања  што вие ќе ги имате направено, изразени  или имплицирани,  ниту пак ќе дозволи субсеквентно прекршување и на други Услови. Вие не можете да доделувате или  да ги пренесувате овие Услови или било кое право или обврска наведени подолу. Доколку некој услов или одредба  од овие Услови ќе се најде на суд во рамки на компетентно правосудство, тој ќе биде одстранет а останатите одредби ќе останат во полна сила без да бидат поништени на било кој начин.  Овие Услови не се наменети за креирање на партнерство, заеднички вложувања или агенциски релации помеѓу странките.
                    </p>
                    <p>
                        Освен за Ониво применливи договори или политики на Ониво што изрично се однесуваат на овие Усови, истите формираат комплетен договор помеѓу вас и Ониво  а кој се однесува на прашањата тука содржани.
                    </p>
                    <hr>
                    <p>
                        За прашања поврзани со Условите за користење, контактирајте не на:
                    </p>
                    <address>
                        <strong>Onivo Македонија</strong><br>
                        <i class="fa fa-map-marker"></i> Индустриска Зона 2, Козјачка 44<br>
                        1300 Куманово, Македонија<br>
                        070 647 370, 031 453 905/906<br>
                        <script language="javascript">
                        <!--
                        RvQPRFosVItglhu();
                        //-->
                        </script>
                    </address>
                </div>
            </div>
        </section>
    </div>
{% endblock %}