<address>
    <strong>Onivo Македонија</strong> &middot; Агро-Про ДОО<br>
    <i class="fa fa-map-marker"></i> Козјачка 44, Индустриска Зона 2<br>
    1300 Куманово, Македонија<br>
    070 647 370, 031 453 905/906<br>
    <script language="javascript">
    <!--
    RvQPRFosVItglhu();
    //-->
    </script>
    | <a href="/">onivo.mk</a>
</address>