<address>
    <strong>Onivo</strong> &middot; Агро-Про ДОО<br>
    <i class="fa fa-map-marker"></i> Козјачка 44, Индустриска Зона 2<br>
    1300 Куманово, Македонија<br>
    078 444 395, 031 453 906<br>
    {{ safemail('info@onivo.mk')|raw }}
    | <a href="/">onivo.mk</a>
</address>