<div class="container" id="features">
    <section>
        <h1 class="text-center">Импресионирајте ги Вашите клиенти<br>со професионални фактури.</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <i class="fa fa-file-text-o fa-4x fa-fw"></i>
                </div>
                <p class="feature lead">
                    Креирајте професионални документи со Вашето лого за само неколку секунди.
                    <!-- Нашиот брз и едноставен систем на фактурирање ќе Ви овозможи да ги избегнете долгите часови потрошени во дизајнирање на фактури. Onivo Ви овозможува поголема ефикасност во процесот на фактурирање и за само неколку секунди да креирате, испратите и управувате со едноставни и професионални фактури. -->
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <i class="fa fa-envelope fa-4x fa-fw"></i>
                </div>
                <p class="feature lead">
                    Неколку чекори Ве делат од испраќање на електронски документи.
                    <!-- Со Onivo добивате можност во процесот на фактурирање да ја избегнете напред-назад размената со Вашите клиенти и поедноставно и полесно да го финализирате процесот со испраќање на електронски документи (фактури, профактури и понуди). Остварете побрза наплата со испраќање на персонализирани и професионални електронски фактури. -->
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <i class="fa fa-money fa-4x fa-fw"></i>
                </div>
                <p class="feature lead">
                    Комплетен преглед во ефикасноста на Вашата наплата.
                    <!-- Во секое време имајте увид во успешноста на Вашиот бизнис. Onivo ќе Ви помогне да креирате и испратите документи со професионален изглед кој остава одличен прв впечаток, а потоа да ги забележите сите остварени наплати. Без разлика дали Вашите клиенти навремено ги извршуваат своите обврски или секогаш доцнат, Onivo Ви овозможува да испратите потсетник за доспеаните документи или едноставно да изразите благодарност. -->
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <i class="fa fa-cloud fa-4x fa-fw"></i>
                </div>
                <p class="feature lead">
                    Onivo е секогаш со Вас. Работете од Вашата канцеларија, од дома или од плажа.
                    <!-- Без разлика дали сте дома, на работа или во движење, Onivo Ви овозможува во било кое време и од било место секогаш да имате сигурен пристап до Вашиот профил. Onivo е базиран на "обработка во облакот" која не бара никакви симнувања и инсталации, единствено нешто што Ви е потребно е уред со интернет конекција. -->
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <i class="fa fa-lock fa-4x fa-fw"></i>
                </div>
                <p class="feature lead">
                    Безбеден пристап кон Вашиот профил со SSL сертификат.
                    <!-- Заштитата и сигурноста на Вашите податоци се една од приоритетните задачи на Onivo. Нашите безбедносни мерки се идентични со мерките кои ги користат онлајн банкарските и останатите финансиски институции. Ние нудиме  заштита преку SSL протокол кој гарантира најбезбеден метод за пристап кон Вашиот онлајн профил и спречува кражби на Вашата лозинка. -->
                </p>
            </div>
            <div class="col-md-4">
                <div class="text-center featureIcon">
                    <i class="fa fa-dashboard fa-4x fa-fw"></i>
                </div>
                <p class="feature lead">
                    Onivo e Вашиот аналитичар. Целосно организирани извештаи за Вашата работа.
                    <!-- Работната табла е Вашиот личен аналитичар. Onivo Ви обезбедува сумирани и организирани извештаи за Вашата работа. Во секој момент преку работната табла добивате ажурирани информации за вкупните наплати по издадени фактури и за ненаплатените доспеани фактури, со што ќе можете во најкраток рок да ги превземете потребните акции за понатамошно функционирање на Вашиот бизнис. -->
                </p>
            </div>
        </div>
    </section>
    <hr>
</div>