<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3>Made with <i class="fa fa-heart fa-fw" style="color:red"></i> in Macedonia</h3>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, non dolorum incidunt?
                </p>
                <div id="social">
                    <h3>Get social with us</h3>
                    <a href="https://www.facebook.com/mk.onivo"><i class="fa fa-facebook-square fa-fw fa-3x"></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-fw fa-3x"></i></a>
                    <a href="#"><i class="fa fa-linkedin-square fa-fw fa-3x"></i></a>
                    <a href="#"><i class="fa fa-google-plus-square fa-fw fa-3x"></i></a>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 text-right">
                <h3>Newsletters</h3>
                <p>
                    Subscribe to get monthly updates in your inbox from Onivo. You will receive product updates, productivity tips and exclusive offers.
                </p>
                <p class="lead">
                    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
                    <style scoped>#mc_embed_signup form {text-align: right; padding: 0;}</style>
                    <div id="mc_embed_signup">
                        <form action="http://carniadesign.us3.list-manage.com/subscribe/post?u=d5d59338cbecb708bed652986&amp;id=5b264992d4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                            <p class="lead">
                                <input type="email" value="" name="EMAIL" class="form-control input-lg" id="mce-EMAIL" placeholder="Enter your email address" required>
                                <div style="position: absolute; left: -5000px;">
                                    <input type="text" name="b_d5d59338cbecb708bed652986_5b264992d4" value=""></div>
                                <div class="clear">
                                    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success btn-lg">Subscribe</button>
                                </div>
                            </p>
                        </form>
                    </div>
                </p>
                <p class="text-muted">
                    <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
                </p>
            </div>
        </div>
        <div class="row" id="copyright">
            <div class="col-md-12">
                <p>
                    &copy; 2014 Onivo Ltd. All Right Reserved.
                </p>
                <small>
                    <a href="/terms">Terms of Service</a>
                    &nbsp;|&nbsp;
                    <a href="/privacy">Privacy Policy</a>
                </small>
            </div>
        </div>
    </div>
</footer>