<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3>Lorem ipsum.</h3>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, non dolorum incidunt?
                </p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 text-right">
                <h3>Newsletters</h3>
                <p class="lead">
                    <input type="text" class="form-control input-lg" placeholder="Entet your email address"><br>
                    <button class="btn btn-success btn-lg">Sign up for newsletters!</button>
                </p>
                <p class="text-muted">
                    <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
                </p>
            </div>
        </div>
        <div class="row" id="copyright">
            <div class="col-md-12">
                <p>
                    &copy; 2014 Onivo Ltd. All Right Reserved.
                </p>
                <small>
                    <a href="/terms">Terms of Service</a>
                    &nbsp;|&nbsp;
                    <a href="/privacy">Privacy Policy</a>
                </small>
            </div>
        </div>
    </div>
</footer>