<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <h3>За Onivo</h3>
                <p class="lead">
                    Onivo е с&egrave; што Ви е потребно за Вашиот бизнис.
                </p>
            </div>
            <div class="col-md-3 col-sm-3">
                <h3>Следете н&egrave;</h3>
                <div id="social">
                    <a href="https://www.facebook.com/mk.onivo" id="facebook"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    <a href="https://twitter.com/OnivoMK" id="twitter"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    <!-- <a href="#" id="linkedin"><i class="fa fa-linkedin fa-fw fa-3x"></i></a> -->
                    <a href="#" id="googlePlus"><i class="fa fa-google-plus fa-fw fa-3x"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 text-right">
                <h3>Контакт</h3>
                <address>
                    <strong>Onivo Македонија</strong><br>
                    <i class="fa fa-map-marker"></i> Индустриска Зона 2, Козјачка 44<br>
                    1300 Куманово, Македонија<br>
                    070 647 370, 031 453 905/906<br>
                    <script language="javascript">
                    <!--
                    RvQPRFosVItglhu();
                    //-->
                    </script>
                </address>
                {% include '_partials/newsletters.twig' %}
            </div>
        </div>
        <div class="row" id="madeWithLove">
            <div class="col-md-12">
                <h3 class="text-center">Направено со <i class="fa fa-heart fa-fw" style="color:red"></i> во Македонија</h3>
            </div>
        </div>
        <div class="row" id="copyright">
            <div class="col-md-12">
                <p>
                    &copy; 2014 Onivo Македонија. Сите Права Задржани.
                </p>
                <small>
                    <a href="/terms-of-service">Услови за Користење</a>
                    &nbsp;|&nbsp;
                    <a href="/privacy-policy">Приватност</a>
                </small>
            </div>
        </div>
    </div>
</footer>