<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3" id="aboutOnivo">
                <h3>За Onivo</h3>
                <p class="lead">
                    {# Onivo е с&egrave; што Ви е потребно за Вашиот бизнис. #}
                    Onivo е бесплатна, најнапредна и најлесна веб апликација за фактурирање. Работете преку паметен телефон, таблет или лаптоп; во секое време!
                </p>
            </div>
            <div class="col-md-3 col-sm-3" id="followUs">
                <h3>Следете н&egrave;</h3>
                <div id="social">
                    <a href="https://www.facebook.com/mk.onivo" target="_blank">
                        <span class="sic sic-facebook"></span>
                    </a>
                    <a href="https://www.youtube.com/user/onivomk" target="_blank">
                        <span class="sic sic-youtube"></span>
                    </a>
                    <a href="https://twitter.com/OnivoMK" target="_blank">
                        <span class="sic sic-twitter"></span>
                    </a>
                    <a href="https://linkedin.com/company/onivo" target="_blank">
                        <span class="sic sic-linked-in"></span>
                    </a>
                    {# <a href="https://plus.google.com/110157961710938576199" target="_blank">
                        <span class="sic sic-google_plus"></span>
                    </a> #}
                </div>
                <br>
                <h3>Cо <i class="fa fa-heart fa-fw" style="color:red"></i> од Македонија</h3>
                <p>
                    Onivo e  <strong>100%</strong> домашен производ - направен со многу љубов; во <strong>Македонија!</strong>
                </p>
            </div>
            <div class="col-md-6 col-sm-6" id="contact">
                <h3>Контакт</h3>
                {% include '_partials/address.twig' %}
                {% include '_partials/newsletters.twig' %}
            </div>
        </div>
{#         <div class="row" id="madeWithLove">
            <div class="col-md-12">

            </div>
        </div> #}
        <hr>
        <div class="row" id="copyright">
            <div class="col-md-6">
                <small>
                    &copy; 2014 - {{ 'now'|date('Y') }} Onivo. Сите Права Задржани.
                </small>
            </div>
            <div class="col-md-6">
                <small>
                    <a href="/terms-of-service">Услови за Користење</a>
                    &nbsp;&middot;&nbsp;
                    <a href="/privacy-policy">Приватност</a>
                    &nbsp;&middot;&nbsp;
                    <a href="https://app.onivo.mk/register">Регистрација</a>
                </small>
            </div>
        </div>
        {# <div class="row" id="madeWithLove">
            <div class="col-md-12 text-center">
            </div>
        </div> #}
    </div>
</footer>