<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3" id="aboutOnivo">
                <h3>За Onivo</h3>
                <p class="lead">
                    {# Onivo е с&egrave; што Ви е потребно за Вашиот бизнис. #}
                    Onivo е бесплатен, најнапреден и најлесен софтвер за фактурирање. Користете го од својот телефон, таблет или лаптоп; во секое време!
                </p>
            </div>
            <div class="col-md-3 col-sm-3" id="followUs">
                <h3>Следете н&egrave;</h3>
                <div id="social">
                    <a href="https://www.facebook.com/mk.onivo">
                        <span class="sic sic-facebook"></span>
                    </a>
                    <a href="https://twitter.com/OnivoMK">
                        <span class="sic sic-twitter"></span>
                    </a>
                    <a href="#"><span class="sic sic-google_plus"></span></a>
                </div>
                <br>
                <h3>Lorem Ipsum</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, mollitia.
                </p>
            </div>
            <div class="col-md-6 col-sm-6" id="contact">
                <h3>Контакт</h3>
                <address>
                    <strong>Onivo Македонија</strong><br>
                    <i class="fa fa-map-marker"></i> Индустриска Зона 2, Козјачка 44<br>
                    1300 Куманово, Македонија<br>
                    070 647 370, 031 453 905/906<br>
                    <script language="javascript">
                    <!--
                    RvQPRFosVItglhu();
                    //-->
                    </script>
                    | <a href="/">onivo.mk</a>
                </address>
                {% include '_partials/newsletters.twig' %}
            </div>
        </div>
{#         <div class="row" id="madeWithLove">
            <div class="col-md-12">

            </div>
        </div> #}
        <hr>
        <div class="row" id="copyright">
            <div class="col-md-6">
                <small>
                    &copy; 2014 Onivo Македонија. Сите Права Задржани.<br>
                    Onivo е бренд на Агро Про ДОО
                </small>
            </div>
            <div class="col-md-6">
                <small>
                    <a href="/terms-of-service">Услови за Користење</a>
                    &nbsp;&middot;&nbsp;
                    <a href="/privacy-policy">Приватност</a>
                    &nbsp;&middot;&nbsp;
                    <a href="{{ registerLink }}">Регистрација</a>
                </small>
                <p>
                    Направено со <i class="fa fa-heart fa-fw" style="color:red"></i> во Македонија
                </p>
            </div>
        </div>
        {# <div class="row" id="madeWithLove">
            <div class="col-md-12 text-center">
            </div>
        </div> #}
    </div>
</footer>