<div class="container" id="responsive">
    <section>
        <h1 class="text-center">Onivo ги сака сите!</h1>
        <div class="row">
            <div class="col-md-8">
                <img src="/img/responsive.png" alt="Onivo работи на сите уреди!" class="img-responsive" width="570" height="286">
            </div>
            <div class="col-md-4">
                <p class="lead">
                    Onivo работи на сите модерни прелистувачи, уреди и оперативни системи.
                    Од паметни телефони, таблети, лаптоп компјутери до домашни компјутери - c&egrave; што Ви е потребно е интернет врска и Onivo ќе биде секогаш со Вас!
                </p>
                <p id="browsersMatrix">
                    <span class="sic sic-brw_chrome" title="Google Chrome" alt="Google Chrome"></span>
                    <span class="sic sic-brw_firefox" title="Mozilla Firefox" alt="Mozilla Firefox"></span>
                    <span class="sic sic-brw_ie" title="Internet Explorer" alt="Internet Explorer"></span>
                    <span class="sic sic-brw_safari" title="Safari" alt="Safari"></span>
                </p>
            </div>
        </div>
    </section>
    <hr>
</div>
