{% extends "layout.twig" %}

{% block title 'Onivo &middot; 404 Page Not Found' %}

{% block content %}
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-10">
                    <h1 style="font-size:161px">
                        404
                        <small style="font-size:52px;display:block">Страната не е пронајдена.</small>
                    </h1>
                    <hr>
                    <a href="/">
                        &larr; Почетна страна
                    </a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}