{% extends "layout.twig" %}

{% block title 'Onivo &middot; 500 Internal Server Error' %}

{% block content %}
    <div class="container">
        <section>
            <div class="row">
                <div class="col-md-10">
                    <h1 style="font-size:161px">
                        500
                        <small style="font-size:52px;">Internal Server Error.</small>
                    </h1>
                    <hr>
                    <a href="/">
                        Return home
                    </a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}