/**
 * Landing Section
 */
#landing {
    background-image: url(https://s3-eu-west-1.amazonaws.com/cd-storage/bg.jpg);
    background-size: cover;
    color: #fff;
    padding: 100px 0;
    box-shadow: 0 2px 3px #ccc;

    h1 {
        font-size: 52px;
        text-shadow: 1px 2px 3px #333;
    }

    .btnRegister {
        padding: 20px 45px;

    }
}