#landing {

    position: relative;
    background: url(/img/bg3.jpg) no-repeat center bottom fixed;
    @include background-size(cover);
    color: #fff;
    box-shadow: 0 2px 3px #ccc;

    @media (min-width: $screen-md-min) {
        padding: 90px 0;
        #opaqueBackground {
            background-color: #000;
            position: absolute;
            //z-index: -1;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            @include opacity(0.25);
        }
    }
    @media (max-width: $screen-md-min) {
        padding: 60px 0;
        #opaqueBackground {
            background-color: #000;
            position: absolute;
            //z-index: -1;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            @include opacity(0.25);
        }
    }

    h1 {
        margin-top: 0;
        font-size: 66px;
        text-shadow: 1px 2px 3px #333;
        margin-bottom: 30px;
    }

    .btnRegister {
        margin-top: 10px;
        margin-bottom: 10px;
        text-transform: uppercase;
        padding: 20px 45px;
    }
}
