/**
 * Landing Section
 */
#landing {
    background-image: url(/img/landing.jpg);
    background-size: cover;
    color: #fff;
    padding: 100px 0;
    box-shadow: 0 2px 3px #ccc;

    h1 {
        font-size: 52px;
        text-shadow: 1px 2px 3px #333;
    }

    a.btn {
        padding: 20px 32px;
        //text-transform: uppercase;
    }
}