/**
 * Pricing Section
 */

#pricing {

    section {
        padding-bottom: 50px;
    }

    .plan {
        text-align: center;
        box-shadow: 0 3px 5px #ccc;

        &.plan-popular {
            margin-top: -1em;
            zoom: 110%;
            -moz-transform: scale(1.1);
        }

        .panel-heading {

            padding: 15px 28px;

            h3 {
                margin:0;
            }
        }

        .panel-body {
            ul {
                li {
                    padding-top: 5px;
                    padding-bottom: 5px;

                    .emp {
                        font-weight: bold;
                    }
                }
            }
        }

        .panel-footer {
            h3 {
                font-size: 32px;
                .currency {
                    font-size: 20px;
                }
            }
        }

    }
}

#pricingAux {

    box-shadow: inset 1px 3px 3px #ccc;

    section {
        padding: 50px 0;
    }
}